* {
    margin: 0;
    box-sizing: border-box;
    color: hsl(187, 24%, 22%);
  }

html {
    background-color:hsl(148, 38%, 91%);
    font-family: "Karla", sans-serif;   
}

body {
    background-color: white;
    border-radius: 10px;
    padding: 10px 40px;
    width: 80%;
    margin: 120px auto;
    font-size: 16px;
    
}

.asterisk {
    color: hsl(169, 82%, 27%);
    margin-left: 5px;
}

input {
    color: hsl(186, 15%, 59%);
}

label {
    cursor: pointer;
}



form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

input[type="text"], input[type="email"], textarea {
    all: unset;
    font-family: "Karla", sans-serif; 
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid hsl(186, 15%, 59%);
    height: 4em;
    margin-top: 12px;
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box; /* Ensure padding does not affect the size */
}

input, textarea, .radioItem {
    border-radius: 5px;
    border: 1px solid hsl(186, 15%, 59%);
    height: 4em;
    margin-top: 12px;
    cursor: pointer;
}



div {
    width: 100%;
    margin: 15px 0;
}



.names {
    width: 49%;
}



.names input {
    width: 100%;
}




.radioItem {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 0;
}

.radioItem.checked {
    background-color: hsl(148, 38%, 91%);
    border: 1px solid hsl(169, 82%, 27%);
}

input[type="radio"] {
    margin: 0 10px;
    width: 23px;
    height: 23px;
}

input[type="radio"]:checked {
    appearance: none;
    width: 23px;
    height: 23px;
    background-image: url(file:///C:/Users/chle/repos/contact-form-main/assets/images/icon-radio-selected.svg);
    background-repeat: no-repeat;
    border: none;
    outline: none;
}

.radioItem label {
    font-size: 20px;
}

#queryLabel {
    cursor: default;
}



input[type="email"] {
    width: 100%;
}

textarea {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    white-space: pre-wrap;
    overflow: hidden;
    padding-top: 10px;
}

#consentContainer {
    display: flex;
    align-items: flex-start;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
}

#consentContainer div {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 16px;
    margin-top: 0;
    width: 20px;
    height: 20px;
    justify-self: center;
    align-self: center;
}

input[type="checkbox"]:checked {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 0px;
    background-image: url(file:///C:/Users/chle/repos/contact-form-main/assets/images/icon-checkbox-check.svg);
    background-repeat: no-repeat;
}



input[type="submit"] {
    margin: 0 auto;
    width: 95%;
    height: 60px;
    display: block;
    background-color: hsl(169, 82%, 27%);
    color: hsl(148, 38%, 91%);
    border-radius: 5px;
    border: none;
}

input[type="submit"]:hover {
    background-color: hsl(187, 24%, 22%)
}


.error-message {
    display: none;
    color: hsl(0, 66%, 54%);
    margin-top: 10px;
}

input:focus, textarea:focus, input:hover, textarea:hover {
    border: 1px solid transparent;
    outline-color: hsl(169, 82%, 27%);
    outline-style: solid;
    outline-width: 1px;
}

input[type="radio"]:hover {
    border: none;
    outline: none;
}

input[type="checkbox"]:hover, input[type="checkbox"]:focus, input[type="checkbox"]:checked {
    border: none;
    outline: none;
}

.hiddenLabel {
    visibility: hidden;
}

#confirmationMessage {
    display: none;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    margin: 0 auto;
    padding: 20px;
    top: 20px;
    left: 25%;
    background-color: hsl(187, 24%, 22%);
    color: hsl(148, 38%, 91%);
    border-radius: 10px;
    width: 50%;
}

#confirmationMessage div {
    color: white;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    margin-top: 5px;
}

#confirmationMessage img {
    margin-right: 10px;
}



.attribution {
    text-align: center;
}


@media (max-width: 768px) {
    body {
        width: 95%;
        margin-top: 5%;
    }

    .names {
        width: 100%;
    }

    .hiddenLabel {
        display: none;
    }

    #supportContainer {
        margin: 0
    }

    textarea {
        height: 250px;
    }

    h1 {
        padding-bottom: 10px;
    }




}